<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="dialog">
            <h2 style="color: white;">Add To-Do List</h2><hr>
            <input type="text" placeholder="Your To-Do List..." [(ngModel)]="in"><br><br>
            <button type="submit" (click)="add()">Add List</button>
        </div>
        <br>
        <div *ngIf="form;">
            <div *ngFor="let li of todo | slice:1; let i = index">
                <h2 (click)="delete(li,i+1)" id="task">{{li}}</h2>  
            </div>               
        </div>
    </body>
</html>